@font-face{
  font-family: 'Avenir';
  src: url('fonts/Avenir.ttc');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('fonts/Avenir Next.ttc');
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('fonts/Avenir Next Condensed.ttc');
}

/* xtra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .mast{
    display: inline-flex;
    /* padding: 5em; */
    color: white;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    transform: scale(0.2);
    height: 90%;
    flex-grow: 1;
    flex-shrink: 2;
    /* overflow: hidden; */
  }

  .mast{
    display: inline-flex;
    color: white;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100vh;
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .photo_left{
    flex-basis: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
  }
  
  .img3{
    max-width:100%;
    max-height:90%;
    display:block;
  }

  .photo_right{
    flex-basis: column;
  }
  
  .mid_top{
    display: flex;
  }
  
  .logo{
    height: 120px;
    align-self: center;
    padding-left: 0px;
    padding-right: 175px;
  }
  
  .text{
    flex-direction: column;
    align-items: flex-end;
  }
  
  .text1, .text2{
    align-self: center;
    margin: 18px;
    padding-bottom: 10px;
    max-width:100%;
  }
  
  .mid_mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }
  
  .button1, .button2{
    height: 85px;
    padding-bottom: 50px;
    max-width:100%;
  }
  
  .mid_bot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  
  .img3{
    padding-top: 50px;
    max-width: 100%;
  }
  
  .img5{
    resize: 300%;
    overflow: hidden;
  }
  
  .learnaboutus_section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.015);
    transform: scale(0.2);
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .text3{
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  .button3{
    justify-content: center;
    align-items: center;
  }
}

/* small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .mast{
    display: inline-flex;
    /* padding: 5em; */
    color: white;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    transform: scale(0.4);
    height: 90%;
    flex-grow: 1;
    flex-shrink: 2;
    /* overflow: hidden; */
  }
  
  .photo_left{
    /* flex-basis: 20%;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-end; */
    display: grid;
    grid-template-rows: 0.1fr 0.2fr;
  }
  
  .img1{
    align-self: flex-end;
    /* max-width: 100%;
    height: auto; */
  }
  
  .img2{
    align-self: flex-end;
    /* object-fit: cover;
    max-width: 300%;
    max-height: 500%; */
  }
  
  .img3{
    max-width:100%;
    max-height:90%;
    display:block;
  }
  
  .photo_mid{
    flex-basis: 60%;
  }
  
  .mid_top{
    display: flex;
  }
  
  .logo{
    height: 120px;
    align-self: center;
    padding-left: 0px;
    padding-right: 175px;
  }
  
  .text{
    flex-direction: column;
    align-items: flex-end;
  }
  
  .text1, .text2{
    align-self: center;
    margin: 18px;
    padding-bottom: 10px;
    max-width:100%;
  }
  
  .mid_mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }
  
  .button1, .button2{
    height: 85px;
    padding-bottom: 50px;
    max-width:100%;
  }
  
  .mid_bot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  
  .img3{
    padding-top: 50px;
    max-width: 100%;
  }
  
  .photo_right{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    margin: 0;
    align-items:flex-start;
    background-size: cover;
  }
  
  .img5{
    resize: 300%;
    overflow: hidden;
  }
  
  .learnaboutus_section{
    display: flex;
    flex-wrap: nowrap;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.015);
    transform: scale(0.4);
    padding-top: -5px;
    flex-grow: 1;
    flex-shrink: 2;
  }

  .aboutus_left{
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    padding-right:20px;
  }

  .aboutus_right{
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  
  .text3{
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }
  
  .button3{
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-top: 10px;
    padding-left: 80px;
  }
}

/* medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mast{
  display: inline-flex;
  /* padding: 5em; */
  color: white;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform: scale(0.45);
  height: 90%;
  flex-grow: 1;
  flex-shrink: 1;
  /* overflow: hidden; */
}

.photo_left{
  /* flex-basis: 20%;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-end; */
  display: grid;
  grid-template-rows: 0.1fr 0.2fr;
}

.img1{
  align-self: flex-end;
  /* max-width: 100%;
  height: auto; */
}

.img2{
  align-self: flex-end;
  /* object-fit: cover;
  max-width: 300%;
  max-height: 500%; */
}

.img3{
  max-width:100%;
  max-height:90%;
  display:block;
}

.photo_mid{
  flex-basis: 60%;
}

.mid_top{
  display: flex;
}

.logo{
  height: 120px;
  align-self: center;
  padding-left: 0px;
  padding-right: 175px;
}

.text{
  flex-direction: column;
  align-items: flex-end;
}

.text1, .text2{
  align-self: center;
  margin: 18px;
  padding-bottom: 10px;
  max-width:100%;
}

.mid_mid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
}

.button1, .button2{
  height: 85px;
  padding-bottom: 50px;
  max-width:100%;
}

.mid_bot{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.img3{
  padding-top: 50px;
  max-width: 100%;
}

.photo_right{
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  margin: 0;
  align-items:flex-start;
  background-size: cover;
}

.img5{
  resize: 300%;
  overflow: hidden;
}

.learnaboutus_section{
  display: flex;
  flex-wrap: nowrap;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.015);
  transform: scale(0.45);
  padding-top: -10px;
  flex-grow: 1;
  flex-shrink: 2;
}

.aboutus_left{
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  padding-right:80px;
}

.aboutus_right{
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.text3{
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.button3{
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-top: 10px;
  padding-left: 80px;
}
}

/* large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  HOME PAGE */

header li {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
  padding: 0px 0px;
  text-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
}
#underline {
  border-bottom: solid #89A593 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 11.6%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

nav img {
  min-width: 23%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #89A593;
}

.mast{
  display: inline-flex;
  /* padding: 5em; */
  color: white;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform: scale(0.75);
  height: 90%;
  flex-grow: 1;
  flex-shrink: 2;
  /* overflow: hidden; */
}

.photo_left{
  /* flex-basis: 20%;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-end; */
  display: grid;
  grid-template-rows: 0.1fr 0.2fr;
}

.img1{
  align-self: flex-start;
  /* max-width: 100%;
  height: auto; */
}

.img2{
  align-self: flex-start;
  /* padding-right: 200px; */
  /* object-fit: cover;
  max-width: 300%;
  max-height: 500%; */
}

.img3{
  max-width:100%;
  max-height:90%;
  display:block;
}

.photo_mid{
  flex-basis: 60%;
}

.mid_top{
  display: flex;
}

.logo{
  height: 120px;
  align-self: center;
  padding-left: 0px;
  padding-right: 175px;
}

.text{
  flex-direction: column;
  align-items: flex-end;
}

.text1, .text2{
  font-family: 'Avenir';
  font-style: normal;
  color: black;
  align-self: center;
  margin: 18px;
  padding-bottom: 10px;
  max-width:100%;
}

.mid_mid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
}

.button1, .button2{
  height: 85px;
  padding-bottom: 50px;
  max-width:100%;
}

.mid_bot{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.img3{
  padding-top: 50px;
  max-width: 100%;
}

.photo_right{
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  margin: 0;
  align-items:flex-start;
  background-size: cover;
}

.img5{
  resize: 300%;
  overflow: hidden;
}

.learnaboutus_section{
  display: flex;
  flex-wrap: nowrap;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.015);
  transform: scale(0.7);
  padding-top: -500px;
  flex-grow: 1;
  flex-shrink: 1;
}

.aboutus_left{
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  padding-right:50px;
}

.aboutus_right{
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}

.text3{
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.button3{
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-top: 10px;
  padding-left: 80px;
}

/* END OF HOME PAGE
}

/* xtra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  HOME PAGE */

header li {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
  padding: 0px 0px;
  text-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.25);
}
#underline {
  border-bottom: solid #89A593 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 11.6%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

nav img {
  min-width: 23%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #89A593;
}

.mast{
  display: inline-flex;
  /* padding: 5em; */
  color: white;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform: scale(0.75);
  height: 90%;
  flex-grow: 1;
  flex-shrink: 2;
  /* overflow: hidden; */
}

.photo_left{
  /* flex-basis: 20%;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-end; */
  display: grid;
  grid-template-rows: 0.1fr 0.2fr;
}

.img1{
  align-self: flex-start;
  /* max-width: 100%;
  height: auto; */
}

.img2{
  align-self: flex-start;
  /* object-fit: cover;
  max-width: 300%;
  max-height: 500%; */
}

.img3{
  max-width:100%;
  max-height:90%;
  /* display:block; */
}

.photo_mid{
  flex-basis: 60%;
}

.mid_top{
  display: flex;
}

.logo{
  height: 120px;
  align-self: center;
  padding-left: 0px;
  padding-right: 175px;
}

.text{
  flex-direction: column;
  align-items: flex-start;
}

.text1, .text2{
  align-self: center;
  margin: 18px;
  padding-bottom: 10px;
  max-width:100%;
}

.mid_mid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
}

.button1, .button2{
  height: 85px;
  padding-bottom: 50px;
  max-width:100%;
}

.mid_bot{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.img3{
  padding-top: 50px;
  max-width: 100%;
}

.photo_right{
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  margin: 0;
  align-items:flex-start;
  background-size: cover;
}

.img5{
  resize: 250%;
  overflow: hidden;
}

.learnaboutus_section{
  display: flex;
  flex-wrap: nowrap;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.015);
  transform: scale(0.7);
  /* padding-top: -500px; */
  flex-grow: 1;
  flex-shrink: 1;
}

.aboutus_left{
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  padding-right:150px;
}

.aboutus_right{
  flex-basis: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.text3{
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.button3{
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-top: 10px;
  padding-left: 80px;
}
}
/* END OF HOME PAGE